streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
plotly
statsmodels
joblib
scipy
streamlit_option_menu
streamlit-lottie
streamlit-cards
tensorflow
transformers
torch
requests
openai
prophet
PIL
yfinance
lightgbm